.Header {
    background-image: url(../../images/hero01.jpg);
    background-size: cover;
    position: relative;
}

.header__overlay {
    position: absolute;
    left: 365px;
    top: 0;
    width: 580px;
    height: 930px;
    background: rgba(243,115,53, 0.7);
    background: linear-gradient(0deg, rgba(243,115,53,0.7) 0%, rgba(251,183,49,0.7) 100%);
    display: inline-block;
}

.header__h1 {
    padding-top: 15rem;
}

.header__button {
    display: block;
    margin: 0 auto;
    width: 260px;
    color: black;
    text-decoration: none;
    background-color: var(--color_primary);
    text-transform: uppercase;
    text-align: center;
    padding: var(--margin_medium);
    font-size: 1.7rem;
    border-radius: 20px;
}