body {
    font-size: 14px;
}

p, h1, h2, h3, h4, h5, h6, li, a, div, label, input, figcaption, textarea {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    color: white;
    font-size: 6rem;
    text-align: center;
    line-height: 6rem;
    font-weight: 800;
}

h2 {
    color: #1B2A49;
    font-size: 2.6rem;
    text-transform: uppercase;
}

h3 {
    color: white;
    font-size: 4rem;
    font-weight: 800;
}

h4 {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
}

h5 {
    font-size: 1.6rem;
    font-weight: 400;
}

h6 {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    margin: 0;
    line-height: 3rem;
}