.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grid {
    display: grid;
}

html {
    box-sizing: border-box;

  }

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    padding: 0;
}