.gallery__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery__gallery {
    width: 48%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery__aside {
    width: 48%;
}

.gallery__selected {
    width: 100%;
}

.gallery__thumbnail {
    margin-top: 1rem;
    max-width: 31%;
}

.gallery__thumbnail:hover {
    cursor: pointer;
}

.gallery__image {
    width: 100%;
}

.gallery__h5 {
    margin: 0;
    padding-top: var(--margin_large);
}

.gallery__p {
    line-height: 2rem;
    color: var(--color_text);
}